div#contacts
  header
    div#filter
      label Show me:
    a#showForm(href='#') Add new contact
    form#addContact(action='#')
      label(for='photo') Photo:
      input#photo(type='file')
      label(for='name') Name:
      input#name
      label(for='type') Type:
      input#type
      label(for='address') Address:
      input#address
      label(for='tel') Tel:
      input#tel
      label(for='email') Email:
      input#email
      button#add Add

  script#contactTemplate(type='text/template')

    img(src='{{ photo }}', alt='{{ name }}')
    h1 {{ name }}
      span {{ type }}
    div
      {{ address }}
    dl
      dt Tel:
      dd {{ tel }}
      dt Email:
      dd
        a(href='mailto:{{ email }}') {{email}}
    button.delete Delete
    button.edit Edit

  script#contactEditTemplate(type='text/template')

    //- Added photo class to input and moved type input after it for cleaner looking form
    form(action='#')
      input.photo(type='file', value='{{ photo }}')
      input#type(type='hidden', value='{{ type }}')
      input.name(value='{{ name }}')
      input.address(value='{{ address }}')
      input.tel(value='{{ tel }}')
      input.email(value='{{ email }}')
      button.save Save
      button.cancel Cancel


//-  <script id="contactTemplate" type="text/template">
//-    <img src="<%= photo %>" alt="<%= name %>" />
//-    <h1><%= name %><span><%= type %></span></h1>
//-    <div><%= address %></div>
//-    <dl>
//-        <dt>Tel:</dt><dd><%= tel %></dd>
//-        <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
//-    </dl>
//-  </script>