!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/screen.css')
  body!= body
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  //-script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src='/javascripts/json2.js')
  script(type='text/javascript', src='/javascripts/underscore-min.js')
  script(type='text/javascript', src='/javascripts/backbone-min.js')
  script(type='text/javascript', src='/javascripts/app.js')